h1 { color:rgb(106, 106, 8);text-align: center;}
h2 { color:antiquewhite;}
body { background-color:floralwhite;}
.intro {display: inline-block; padding: 10px; border: 2px dashed lightgoldenrodyellow; background-color:rgb(144, 144, 17); width: 80%; margin: 20px;}
p { color: rgb(123, 123, 8);}